<div *ngIf="isButtonClicked">
<table>
    <thead>
<tr>
            <th>Code</th>
            <th>Name</th>
            <th>Area</th>
            <th>Lat</th>
            <th>Long</th>
            <th>Population</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of RegionsList">
<td>
    {{item.code}}
</td>
<td>
    {{item.name}}
</td>
<td>
    {{item.area}}
</td>
<td>
    {{item.lat}}
</td>
<td>
    {{item.long}}
</td>
<td>
    {{item.population}}
</td>


        </tr>
    </tbody>
</table>
</div>


<button (click)="GetallRegions()">Regions</button>
