<div *ngIf="isButtonClicked">
<table>
    <thead>
<tr>
            <th>Code</th>
            <th>Name</th>
            <th>Area</th>
            <th>Lat</th>
            <th>Long</th>
            <th>Population</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of RegionsList">
<td>
    {{item.code}}
</td>
<td>
    {{item.name}}
</td>
<td>
    {{item.area}}
</td>
<td>
    {{item.lat}}
</td>
<td>
    {{item.long}}
</td>
<td>
    {{item.population}}
</td>


        </tr>
    </tbody>
</table>
</div>


<button (click)="GetallRegions()">Regions</button>

<hr>
<input type="text" [(ngModel)] = "RegionCode"/>
<button (click)="GetAllRegionID()">RegionID</button>
<hr>


<input type="text" [(ngModel)]="Code" placeholder="Region Code" >
<input type="text" [(ngModel)]="Name" placeholder="Region Name">
<input type="text" [(ngModel)]="Lat" placeholder="Region Lat">
<input type="text" [(ngModel)]="Long" placeholder="Region Long">
<input type="text" [(ngModel)]="Area" placeholder="Region Area">
<input type="text" [(ngModel)]="Population" placeholder="Region Population">

<button (click)="CreateRegion()" >Create</button>





